h1 {
	font-weight: bold;
	color: #000000;
	font-size:20px;
	font-family: Arial;
}

h2 {
	font-weight: bold;
	color: #000000;
	font-size:16px;
	font-family: Arial;
}

#test2 {
	color: #FF0000;
}

a {
	text-decoration: none;
	color: #0000FF;
}
a:hover {
	text-decoration: underline;
	color: #0000CC;
}
div {
	font-family: Times New Roman;
	color:#333333;
	font-size:12px;
}
P {
	font-family: Arial;
	font-size:14px;
	color:#999999;
}